/*------------------------------PIEDS DE PAGE--------------------------*/
footer {
  background-color: #2C403D;
  color: white;
  text-align: left;

  text-decoration: none;
  width: 100%;
  height: 100px;
  bottom: 0;
}

footer p a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
footer .gauche {
  float: right;
  display: inline-block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}
/*------------------------------FIN:PIEDS DE PAGE--------------------------*/
/*------------------------------BARRE DU HAUT--------------------------*/
/* Add a black background color to the top navigation bar */
.topnav {
  background-color: #2C403D;
  position: sticky; /* Safari */
  /*top: 0;*/
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 16px;
  text-decoration: none;
  /*font-size: 17px;*/
}



/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Style the search box inside the navigation bar */
.topnav  input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}

.topnav .fctsearch {
  float: right;
}


.topnav .fctsearch button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .fctsearch button:hover {
  background: #ccc;
}



/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally*/
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
/*------------------------------MENU DEROULANT--------------------------*/

/* Dropdown Button*/
.dropbtn {
  background-color: #58807A;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: inline;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
min-width: 150px;
font-style:italic;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: ##8686F0;}
/*------------------------------FIN :MENU DEROULANT--------------------------*/
/*------------------------------FIN :BARRE DU HAUT--------------------------*/
/*------------------------------HEADER--------------------------*/
/* Header/logo Title */
header {
  padding: 80px;
  text-align: center;
  background: #9EE6DB;
  color: black;
}

/* Increase the font size of the heading */
header h1 {
  font-size: 40px;
}
header h2 {
font-family: Jazz LET,fantasy;
font-size: 40px;
}

.im1{
position: absolute;
top: 110px;
right: 75px;
width : 420px;

}
.im2{
position: absolute;
top: 50px;
left: 75px;
width : 300px;
}
/*------------------------------FIN :HEADER--------------------------*/
/*------------------------------BARRE DU MILIEU--------------------------*/

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #2C403D;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
/*------------------------------FIN :BARRE DU MILIEU--------------------------*/
/*------------------------------CORPS--------------------------*/
/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #F4FEFE;
}
body h2{
  text-align: center;
}

#Convaincu {
  font-family: Jazz LET,fantasy;
  font-size: 20px;
  text-align: center;

  color: black;
}
/*------------------------------FIN :CORPS--------------------------*/
/*------------------------------PAGE TEMOIGNAGE---------------------*/
/* Style the container with a rounded border, grey background and some padding and margin */
.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 30px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Increase the font-size of a span element */
.container span {
  font-size: 20px;
  margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .container {
    text-align: center;
  }

  .container img {
    margin: auto;
    float: none;
    display: block;
  }
}
/*------------------------------FIN :PAGE TEMOIGNAGE---------------------*/
/*------------------------------DETAILS TECH---------------------*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 49%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*ajout*/
.img_boug {
  position: relative;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img_boug:hover .image {
  opacity: 0.3;
}

.img_boug:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  text-align: left;
  padding: 16px 32px;
}

/*------------------------------FIN :DETAILS TECH---------------------*/
/*------------------------------PANIER---------------------*/
/* Float images inside the contpanier to the left. Add a right margin, and style the image as a circle */
.rectangle a img {
    float: left;
}

/* Increase the font-size of a span element */
.rectangle .nomarticle{
  padding-top: 1px;
  text-decoration: none;
  margin-right: 15px;
  font-family: Cottonwood, "FB Reactor", fantasy;
  font-size: 40px;
  color: black;
  }

.rectangle {
  padding: 3%;
  padding-top: 1%;
  width: 60%;
  border-color: black;
  border: 1px solid #333333;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: : 3px;
  font-size: 20px;
}
.rectangleP {
  padding: 3%;
  padding-left: auto;
  width: 60%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: : 3px;
}
#sup {
  float: left;
  display: block;
  color: grey;
  text-align: left;
  padding: 14px 20px;
}
#valider {

  text-decoration: none;
  background-color: #2C403D;
  color: white;
  padding: 5px;
  font-size: 21px;
  margin-left: 42%;


}
.rectangleP #valider:hover {
background-color: black;
min-width: 150px;
}

/* Style the search box inside the navigation bar */
.rectangle  input[type=text] {
  padding: 6px;
  border: 1px solid #333333;
  margin-top: 8px;
  font-size: 17px;
  padding-right: 0;
}

.rectangle .fctref button {
  padding: 7px 10px;
  margin-top: 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;

}

.rectangle .fctref button:hover {
  background: #ccc;
}
/*------------------------------FIN :PANIER---------------------*/
/*------------------------------PAGE ARTICLE---------------------*/
/* Float images inside the contpanier to the left. Add a right margin, and style the image as a circle */
.rectanglearticle a img {
    float: left;
}
.rectanglearticle button {
  text-decoration: none;
  background-color: #2C403D;
  color: white;
  padding: 7px;
  font-size: 17px;

  float: right;
  cursor: pointer;
  border: none;
}



/* Increase the font-size of a span element */
.rectanglearticle .nomarticle{
  padding-top: 1px;
  text-decoration: none;
  margin-right: 15px;
  font-family: Cottonwood, "FB Reactor", fantasy;
  font-size: 40px;
  color: black;
  }

.rectanglearticle {
  padding: 3%;
  padding-top: 1%;
  width: 60%;
  border-color: black;
  border: 1px solid #333333;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: : 3px;
  font-size: 20px;
}
.rectanglearticleP {
  padding: 3%;
  padding-left: auto;
  width: 60%;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: : 3px;
}

#aj {

  text-decoration: none;
  background-color: #2C403D;
  color: white;
  padding: 5px;
  font-size: 21px;
  margin-left: 42%;


}
.rectanglearticleP #aj:hover {
background-color: black;
min-width: 150px;
}

/* Style the search box inside the navigation bar */
.rectanglearticle  input[type=text] {
  padding: 3px;
  border: 1px solid #333333;
  margin-top: 8px;
  font-size: 17px;
  padding-right: 0;
}



/*------------------------------FIN :PAGE ARTICLE---------------------*/
/*------------------------------RECHERCHE et CHOISIR UNE PELUCHE---------------------*/
.articl {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  background-color: white;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: black;
}
.articl a {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  background-color: white;
  margin: auto;
  text-align: center;
  text-decoration: none;
  color: black;
}

.articl img{
  height: 200px;
}
.nomprod {
  color: grey;
  font-size: 18px;
}

.articl button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #2C403D;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/*.articl a {
  text-decoration: none;
  color: black;
*/

.articl button:hover /*, a:hover*/ {
  opacity: 0.7;
}

#nomprodRech{
  padding-top: 1px;
  text-decoration: none;
  margin-right: 15px;
  font-family: Cottonwood, "FB Reactor", fantasy;
  font-size: 40px;
  color: black;
  }

  /*Mettre en ligne*/
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .columnRECH {
    float: left;
    width: 24%;
    padding: 3px;
  }

  /* Clear floats after image containers */
  .rowRECH::after {
    content: "";
    clear: both;
    display: table;
  }
/*------------------------------FIN :RECHERCHE ET CHOISIR UNE peluche---------------------*/
/*------------------------------ACCUEIL---------------------*/
.rectangleAcc {
  padding: 1%;
background-color: white;
  width: 80%;
  border-color: #ddd;
  border: 4px dashed #ddd;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: : 3px;
  font-size: 20px;
  text-align: justify;
}

/*------------------------------FIN :ACCUEIL---------------------*/
/*------------------------------QUI SOMMES NOUS---------------------*/


.qui {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  background-color: white;
  margin: auto;
  text-align: justify;
  text-decoration: none;
  color: black;
  padding: 3%;
}


.qui img{
  background-size: cover;
  width: 200px;
  height: 300px;
}


.qui button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #2C403D;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/*.qui a {
  text-decoration: none;
  color: black;
*/

.qui button:hover /*, a:hover*/ {
  opacity: 0.7;
}

#nomQUI{
  padding-top: 1px;
  text-decoration: none;
  margin-right: 15px;
  font-family: Cottonwood, "FB Reactor", fantasy;
  font-size: 40px;
  color: black;
  }

  /*Mettre en ligne*/
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .columnQUI {
    float: left;
    width: 24%;
    padding: 12%;
    padding-top: 10px;
  }

  /* Clear floats after image containers */
  .rowQUI::after {
    content: "";
    clear: both;
    display: table;
  }
  .dipl {
    color: grey;
    font-size: 18px;
  }

/*------------------------------FIN :QUI SOMMES NOUS---------------------*/
